@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="infosearch col-md-12">
        <div class="searchInputGroup">
            <div class="searchIcon">
                <img src="~/images/filter.png">
            </div>
            <input id="inputkeywords" class="searchInput" type="text" placeholder="Keywords">
        </div>
    </div>

    <div class="infosearch col-md-12">
        <div class="searchInputGroup">
            <div class="searchIcon">
                <img src="~/images/filter.png">
            </div>
            <input id="inputurl" class="searchInput" type="text" placeholder="Url">
        </div>
    </div>
</div>

<div class="searchbutton">
    <button class="button button-mid button-red">
        Search
    </button>
</div>

<div class="resulttable">
</div>
